<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Bring your imagination to life with Iva Jewels!</h2>
                <hr class="light">
                <p class="text-faded">As a family-owned Custom Fine Jewelry business, we are dedicated to turning your visions into exquisite pieces that adorn your life's most cherished moments. With the brilliance of diamonds and the touch of our artisans, we spread happiness one shimmer at a time.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
