<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Excited to begin your next jewelry journey with Iva Jewels? Fantastic! Feel free to connect with us via phone or email, and our dedicated team will promptly assist you every step of the way!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="tel:+13474506560">
                    <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>+1-347-450-6560</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:ivajewelsco@gmail.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>ivajewelsco@gmail.com</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://www.instagram.com/ivajewelsco">
                    <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>@ivajewelsco</p>
                </a>
            </div>
        </div>
    </div>
</section>
