<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="background-color: #efe4d1; padding: 10px;border-radius: 5px;">Welcome to Iva Jewels!</h1>
            <hr>
            <p style="color: #de9750; background-color: #efe4d1; padding: 5px; border-radius: 10px;">Where dreams are crafted into reality and every sparkle tells a story!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>